<!--
<header class="border-bottom-thick px-2 clearfix">

BAIRD NOTE:  this is the navigation bar

  <div class="left sm-width-full py-1 mt-1 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <div class="right sm-width-full">
    <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
        <li class="inline-block">
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</header>

-->


<header class="border-bottom-thick px-2 clearfix">

<!-- BAIRD NOTE:  this is the navigation bar -->

  <div class="left sm-width-full py-1">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <div class="right sm-width-full py-1">
    <ul class="list-reset">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
        <li class="inline-block">
          <a class="align-middle link-primary ml-2 align-left-and-pad-when-small" href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</header>

