// Styling markdown output

// Code formatting
pre {
    margin: $spacer-3 0;
    width: 100%; // matches col-9
    white-space: pre-wrap;
    //overflow-x: auto;
    border-left: $spacer-1 solid $theme-color; // adds vertical chunk
    padding-left: $body-font-size; //16px; // adds small margin to left
    border-top: solid 2px $code-outline-color;
    border-bottom: solid 2px $code-outline-color;
    border-right: solid 2px $code-outline-color;
    line-height: 1.25; // controls BOXED code snippets
    padding-top: 4px;
    padding-bottom: 4px;
    //padding-left: 5px;
    //background-color: $code-text-color-background;
}

code {
    color: $code-text-color;
    font-size: 15px; //$body-font-size; // controls ALL code fonts
    background-color: $site-background-base-offset; // controls background of in-line code only
    padding: 2px 4px // topbottom, leftright
}

.prose {

  p, ol, ul {
    font-size: $prose-font-size;
    margin-bottom: 1em;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      //width: (10 / 12 * 100%); // matches col-10
      max-width: $breakpoint-lg;
    }

  }

  ul, ol {
    padding-left: 40px;
  }

  li {
    margin-bottom: 0.5em;

    ul li, ol li {
      margin-bottom: 0;
    }
  }

//   img {
//
//     max-width: 100%;
//     @media (min-width: $breakpoint-lg) {
//       max-width: (12 / 10 * 100%); // make image fill width of container on desktop
//     }
//
//   }

  blockquote {
    //line-height: 1.375;
    //padding-left: 20px;
    //margin: 40px 0 40px -16px;
    //border-left: $spacer-1 solid $color-border;
    //font-style: italic; baird commented out
    border-left: $spacer-1 solid $theme-color;
    margin: $spacer-3 0;
    padding-left: $body-font-size;

    p {
      font-size: $body-font-size; //24px; baird
    }

    //@media (min-width: $breakpoint-lg) {
    //  padding-left: $spacer-3;
    //  margin: $spacer-4 0 $spacer-4 -40px;
    //  max-width: (11 / 10 * 100%);

    //  p {
        font-size: $body-font-size; //32px; baird
    //  }

    //}

  }

  hr {
    color: $text-base-color;
    border-style: solid;
    border-width: thin;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  dt {
    font-weight: bold;
    font-style: italic;
    line-height: 1.25;
  }

  dd {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  // Markdown tables
  table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    overflow: auto;
    // For Firefox to horizontally scroll wider tables.
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
      text-align: left;
    }

    th,
    td {
      padding: $spacer-2 $spacer-3 $spacer-2 2px;
      border-top: 1px solid $text-base-color;
      border-bottom: 1px solid $text-base-color;
    }

    tr {
      background-color: $site-background-base;
      border-top: 1px solid $text-base-color;
    }

    tr th {
      border-top: 2px solid $text-base-color;
      border-bottom: 2px solid $text-base-color;
    }
  }

}

/*baird define img with padding classes*/
.img-pad-right {
    padding-top: 0px;
    padding-right: $body-font-size;
    padding-bottom: 0px;
    padding-left: 0px;
}

.img-pad-left {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: $body-font-size;
}
