// Font family
$body-font-family: "Helvetica Neue", Arial, sans-serif;
$body-font-size: 16px;
$prose-font-size: 16px; //20px;

// Type scale
$h0-mobile: 48px; // original 64
$h0-desktop: 86px; // original 128

$h1-size: 40px !default;
$h2-size: 32px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 16px !default;
$h6-size: 12px !default;
$h7-size: 8px !default;

// $type-size-1: 2em !default; // ~39.056px
// $type-size-2: 1em !default; // ~31.248px
// $type-size-3: 1em !default; // ~25.008px
// $type-size-4: 1em !default; // ~20px
// $type-size-5: 1em !default; // ~16px
// $type-size-6: 0.75em !default; // ~12px
// $type-size-7: 0.75em !default; // ~11px
// $type-size-8: 0.75em !default; // ~10px

// Container width
$container-width: 56em;//64em;

// Large breakpoint
$breakpoint-lg: $container-width;

// Spacing unit
$spacer: 8px !default;

// Spacing scale
$spacer-1: $spacer !default; // 8px
$spacer-2: ($spacer * 2) !default; // 16px
$spacer-3: ($spacer * 4) !default; // 32px
$spacer-4: ($spacer * 8) !default; // 64px

$border-radius: 4px !default;

// Dark solarized theme for syntax highlighting (base 16)
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;
