<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div>
      <header class="header-multicolor-background">
      <header class="header-multicolor-container">
        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for my_page in sorted_pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="container mx-auto px-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 mt-3 sm-width-full header-title-home">{{ site.title }}</h1>
          <!--{{ site.title }}Baird<br/>Langen<br/>brunner-->
          <div class="clearfix">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mb-3 mr-1">
                  <!--{% include dot-accent.html %}-->
                  {% include linkedin.html %}
                </div>
                <div class="inline-block mt-3 mb-3 mr-1">
                  {% include github.html %}
                </div>
                <div class="inline-block mt-3 mb-3">
                  {% include twitter.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      </header>
    </div>
    
    <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %}
        {% include post_block.html %}
        {% endfor %}
    </div>
    
    {% include footer.html %}
  </body>
</html>